*{
    box-sizing: border-box;
}

.section-price {

}

.container {
    width: 1170px;
    margin: 0 auto;
}

.part1 {
    font-size: 0;
}

h1 {
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    width: 387px;
    margin: 100px auto 0;
    }

    h3 {
        font-family: Open Sans, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: #443329;
    }

    .ras {
        color: #A18A6F;
        }

    .ras2 {
          color: #443329;
        }


.blockCommon {

  }
.block {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}



.disain2 {
    height: 180px;
    background: #F5F5F5;
    text-align: center;
}
.fon {
    background-color: #A18A6F ;

}

.img {
    max-width: 100%;
    padding-top: 41px;
}

.text {
    font-family: Open Sans, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #443329;
    padding-top: 24px;
    margin: 0;
}
.part2 {
    font-size: 0;

}
.block2 {
    width: 33.3%;
    vertical-align: top;
    padding: 42px 15px 15px 15px;
    display: inline-block;

}
.img2 {
    max-width: 100%;
}


.text2 {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #A18A6F;
    width: 360px;
    height: 108px;
    padding-top: 24px;
    padding-left: 32px;
    margin: 0;

}

.part3 {
    font-size: 0;
}
.zag3 {
    color: #443329;

}

.block3 {
    width: 33.3%;
    vertical-align: top;
    padding: 42px 15px 15px 15px;
    display: inline-block;

}
.disain31 {
    height: 450px;
    background: #F5F5F5 url('../img/img31.png') right bottom no-repeat  ;
}
.disain32 {
    height: 450px;
    background: #F5F5F5 url('../img/img32.png') right bottom no-repeat  ;
}
.disain33 {
    height: 450px;
    background: #F5F5F5 url('../img/img33.png') 190px bottom no-repeat  ;
}
.h2 {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    padding-left: 32px;
    padding-top: 32px;
    margin: 0;
    color: #443329;
}
.h3 {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #A18A6F;
    padding: 26px 8px 26px 32px;
    display: inline-block;
    margin: 0;

}
.h4 {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #8E8E8E;

}
.button {
    width: 306px;
    height: 50px;
    background: linear-gradient(180deg, #D2C4B4 0%, #A18A6F 100%);
    border-radius: 5px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    padding: 0;
    border: 0;



}
.blockButton {
padding: 0 32px;
}
.down {
    margin-top: 217px;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
    height: 28px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #FFFFFF;
    background: #A18A6F;
}

.section-one{
    background: #F5F5F5;
    font-size: 0;
    padding-top: 60px;
    padding-bottom: 103px;
}
.blockCl {
    display: inline-block;
    vertical-align: top;
}
.leftClinic {
    width: 50%;
    height: 460px;
    marging-right: 99px;
}
.AbCl {
    padding-left: 0;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 125%;
    /* identical to box height, or 45px */
    color: #443329;
}
.textAbouteClinic {
    marging-top: 24px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #8E8E8E;

}
.rightClinic {
    width: 50%;
    height: 460px;

}
.imgtopCl {
    margin-bottom: 10px;
}
.imgrow {




}
.imgDown {

    display: inline-block;



}
.one {
    margin-right: 10px;
}
.circle {
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.footer {
    background: #F5F5F5;
    font-size: 0;
    padding: 60px 0;
}


.blocki {
    display: inline-block;
    vertical-align: top;


}

.blockBarleft {
    width: 23%;
}
.adres {
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #443329;
    padding-top: 25px;
}
.nav {
    width: 54%;
    padding-top: 19px;
}
ul.hr {
    margin: 0;
    padding-left: 50px;
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    padding-right: 30px; /* Поля вокруг текста */

}

.li {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #252525;
    border: none;
    background: #F5F5F5;
    text-decoration: none;

}
.blockBarRight {
    width: 23%;

}
.number {
    width: 147px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    /* identical to box height, or 25px */
    color: #A18A6F;
    padding-top: 13px;
}
.socset {
    padding-right: 23px;
    padding-top: 24px;

}











